extends base.pug

block content
    h1 Content
    p Hello user!
    br
    a(class='button' href='/login') LogIn

    a(class='button' style="position: absolute; bottom: 30px; right: 50%" href='https://pugjs.org/language/attributes.html' target="_blank") Pug Attributes
        