extends base.pug

block content
    h1 Please enter your Information
    br

    form(action="/user" method="POST")
        a first Name: 
        input(type="text", name="first_name") 
        br
        br
        a last Name: 
        input(type="text", name="last_name")
        br
        br
        a role: 
        input(type="text", name="role")
        br
        input(type="submit", name="submit")